
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    /*background-color: rgb(15, 15, 15); */
    background: linear-gradient(180deg, rgb(15, 15, 15), #c100da18);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#hero{
    height:88vh;
}
#hero_contain{
   padding-top: 25vh;
}
#big {
    font-size: 85px;
}

#neonica{
font-weight:600;
}


li{
    font-weight: 600;
}
#svg {
    background: linear-gradient(180deg, rgb(20, 20, 20), #c100da21);

    /*background: linear-gradient(180deg, rgb(15, 15, 15), #c100da3d);*/

}

#gridneon{
    background: linear-gradient(180deg, rgb(20, 20, 20), #c100da21);
    
}

#gridneon1{
    
    background: linear-gradient(180deg, rgb(20, 20, 20), #c100da18);

}

#info{
    background: linear-gradient(180deg, rgba(15, 15, 15, 0), #c100da18);

}

#infor1{
    margin-top: -10px;
}

p > span {
    font-weight: bold;
}

p {
    font-family: 'Lato', 'sans-serifo';
}

#infoh1{
    font-size: 72px;
}


#padneg {
    margin-top: -10px;
}

#padneg2 {
    margin-top: -75vh;
}
#padneg3 {
    margin-top: 50vh;
}
#work{
    position: relative;
    background: linear-gradient(180deg, rgba(15, 15, 15, 0), #c100da18);

}

#cube1{
    top: 50%;
  transform: translateY(-400%);

  right: 50%;
  position: absolute;
}

#cube2{
    top: 50%;
  transform: translateY(-250%);
  right: 50%;
  position: absolute;
}
#cube3{
    top: 50%;
  transform: translateY(-100%);
  right: 50%;
  position: absolute;
}
#cube4{
    top: 50%;
  transform: translateY(50%);
  right: 50%;
  position: absolute;
}
#cube5{
    top: 50%;
  transform: translateY(200%);
  right: 50%;
  position: absolute;
}
#cube6{
    top: 50%;
  transform: translateY(350%);
  right: 50%;
  position: absolute;
}

#final {
    position: relative;
    background: linear-gradient(180deg, rgba(15, 15, 15, 0), #c100da18);

}
#centerme {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 115px;
}




#anima{
    position: absolute;
    left: 5%;
    bottom: 50%;
}

#anima2{
    position: absolute;
    right: 5%;
    bottom: 50%;
}

#anima3{
    position: absolute;
    left: 50%;
    bottom: 55%;
}