


.neon-bg{
    background-color: blueviolet;
}

.neon-blur-bg {
    background-color: rgba(44, 0, 39, 0.5);
    /* 
    background: linear-gradient(90deg, rgba(44,0,40,0.1) 0%, rgba(166,18,166,0.1) 48%, rgba(44,0,44,0.1) 100%); */
     /* -webkit-box-reflect: below 1px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.15));  */

     /* Semi-transparent background 
    -webkit-backdrop-filter: blur(10px); /* For Safari */
     /* backdrop-filter: blur(10px); /* Standard syntax 
    */
    
}


.neon-border{
    border-bottom: 2px solid rgb(194, 39, 233); /* The border */

  box-shadow:
    0 0 5px rgb(211, 38, 188), /* Inner blue */
    0 0 5px rgb(216, 19, 255), /* Middle blue */
    0 0 15px rgb(174, 0, 255), /* Outer blue */
    0 0 30px rgb(183, 0, 255); 
}
.neon-border2{
  border: 3px solid rgb(194, 39, 233); /* The border */

box-shadow:
  0 0 1px rgb(175, 23, 155), /* Inner blue */
  0 0 7px rgb(216, 19, 255), /* Middle blue */
  0 0 10px rgb(144, 1, 211), /* Outer blue */
  0 0 25px rgb(133, 1, 185); 
}

.neon-text {
    animation: pulsate 2s infinite alternate;     
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px  rgb(161, 19, 126),
      0 0 80px  rgb(155, 14, 139),
      0 0 90px  rgb(141, 16, 124),
      0 0 100px rgb(153, 13, 123),
      0 0 150px rgb(179, 21, 171);
      font-size: 26px;
  }
  .neon-textpink {
    animation: pulsate 2s infinite alternate;     
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px  #f713fe,
      0 0 80px  #f713fe,
      0 0 90px  #f713fe,
      0 0 100px #f713fe,
      0 0 150px #f713fe;
      font-size: 26px;
  }

  @keyframes pulsate {
    100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #EE82EE,
        0 0 80px #EE82EE,
        0 0 90px #EE82EE,
        0 0 100px #EE82EE,
        0 0 150px #EE82EE;
    }
    0% {
      text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #EE82EE,
        0 0 45px #EE82EE,
        0 0 55px #EE82EE,
        0 0 70px #EE82EE,
        0 0 80px #EE82EE;
    }
  }

  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      box-shadow: 0 0 4px #fff,
                  0 0 5px #fff,
                  0 0 10px #fff,
                  0 0 10px #ba10fd,
                  0 0 15px #ba10fd,
                  0 0 25px #ba10fd,
                  0 0 35px #ba10fd,
                  0 0 200px #ba10fd;
    }
    20%, 24%, 55% {       
      box-shadow: none;
    }
  }
  @keyframes flicker2 {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow: 0 0 4px #fff,
                  0 0 5px #fff,
                  0 0 10px #fff,
                  0 0 10px #ba10fd,
                  0 0 15px #ba10fd,
                  0 0 25px #ba10fd,
                  0 0 35px #ba10fd,
                  0 0 100px #ba10fd;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }



  
  .neon-border3 {
    animation: flicker 4s infinite alternate;     
  border-top: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
  border-right: 0.1rem solid #fff;
  border-left: 0.1rem solid #fff;

  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #ba10fd,
              0 0 0.8rem #b910fc,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}
.neon-border3noflick {

border-bottom: 0.2rem solid #fff;
box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #ba10fd,
            0 0 0.8rem #b910fc,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
}
.neon-border3noflickpink {

  border-bottom: 0.2rem solid #fff;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #f713fe,
              0 0 0.8rem #f713fe,
              0 0 2.8rem #f713fe,
              inset 0 0 1.3rem #f713fe;
  }
.neon-border3noflick2 {

  border-bottom: 0.2rem solid #fff;
  border-top: 0.4rem solid #fff;
  border-left: 0.1rem solid #fff;
  border-right: 0.1rem solid #fff;


  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #ba10fd,
              0 0 0.8rem #b910fc,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
  }
  .neon-border3noflick2pink {

    border-bottom: 0.2rem solid #fff;
    border-top: 0.4rem solid #fff;
    border-left: 0.1rem solid #fff;
    border-right: 0.1rem solid #fff;
  
  
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #f713fe,
                0 0 0.8rem #f713fe,
                0 0 2.8rem #f713fe,
                inset 0 0 1.3rem #f713fe;
    }
  .neon-border3noflick3 {

    border-bottom: 0.2rem solid #fff;
    border-top: 0.3rem solid #fff;
    border-left: 0.1rem solid #fff;
    border-right: 0.1rem solid #fff;
  
  
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #ba10fd,
                0 0 0.8rem #b910fc,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe;
    }
    .neon-border3noflick33 {

      border-bottom: 0.2rem solid #fff;
      border-top: 0.35rem solid #fff;
      border-left: 0.15rem solid #fff;
      border-right: 0.15rem solid #fff;
    
    
      box-shadow: 0 0 .2rem #fff,
                  0 0 .2rem #fff,
                  0 0 2rem #ba10fd,
                  0 0 0.8rem #b910fc,
                  0 0 2.8rem #bc13fe,
                  inset 0 0 1.3rem #bc13fe;
      }
    .neon-border3noflick4 {

      border-bottom: 0.2rem solid #fff;
      border-top: 0.2rem solid #fff;
      border-left: 0.3rem solid #fff;
      border-right: 0.3rem solid #fff;
    
    
      box-shadow: 0 0 .2rem #fff,
                  0 0 .2rem #fff,
                  0 0 2rem #ba10fd,
                  0 0 0.8rem #b910fc,
                  0 0 2.8rem #bc13fe,
                  inset 0 0 1.3rem #bc13fe;
      }

      .neon-border3noflick5 {

        border-bottom: 0.1rem solid #fff;
        border-top: 0.1rem solid #fff;
        border-left: 0.3rem solid #fff;
        border-right: 0.3rem solid #fff;
      
      
        box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem #ba10fd,
                    0 0 0.8rem #b910fc,
                    0 0 2.8rem #bc13fe,
                    inset 0 0 1.3rem #bc13fe;
        }
        .neon-border3noflick6 {

          border-bottom: 0.2rem solid #fff;
          border-top: 0.5rem solid #fff;
          border-left: 0.1rem solid #fff;
          border-right: 0.1rem solid #fff;
        
        
          box-shadow: 0 0 .2rem #fff,
                      0 0 .2rem #fff,
                      0 0 2rem #ba10fd,
                      0 0 0.8rem #b910fc,
                      0 0 2.8rem #bc13fe,
                      inset 0 0 1.3rem #bc13fe;
          }
.neon-text2 {
  animation: flicker2 8s infinite alternate;     
  color: #fff;
  text-shadow: 
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 15px #fff,
  0 0 20px #9c27b0,
  0 0 30px #9c27b0,
  0 0 40px #9c27b0;
}
.neon-text02 {
  animation: flicker2 4s infinite alternate;     
  color: #fff;
  text-shadow: 
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 15px #fff,
  0 0 20px #9c27b0,
  0 0 30px #9c27b0,
  0 0 40px #9c27b0;
}
.neon-text3 {
  color: #fff;
  text-shadow: 
  0 0 1px #fff,
  0 0 3px #fff,
  0 0 5px #fff,
  0 0 10px #9c27b0,
  0 0 13px #9c27b0,
  0 0 18px #9c27b0;
}

.neon-text01 {
  animation: pulsate01 2.5s infinite alternate;     
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px  rgb(161, 19, 126),
    0 0 80px  rgb(155, 14, 139),
    0 0 90px  rgb(141, 16, 124),
    
}
.neon-text099 {
  animation: pulsate01 4s infinite alternate;     
  
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px  rgb(161, 19, 126),
    0 0 80px  rgb(155, 14, 139),
    0 0 90px  rgb(141, 16, 124),
    
}
@keyframes flicker099 {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
                0 0 7px #fff,
                0 0 15px #fff,
                0 0 25px #fff,
                0 0 50px #EE82EE,
                0 0 90px #EE82EE,
                0 0 100px #EE82EE,
                0 0 130px #EE82EE,
                0 0 200px #EE82EE;            
  }
  20%, 24%, 55% {       
    box-shadow: none;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #9c27b0,
    0 0 30px #9c27b0,
    0 0 40px #9c27b0;
  }
} 
@keyframes pulsate099 {
  100% {
    text-shadow:
      0 0 7px #fff,
      0 0 15px #fff,
      0 0 25px #fff,
      0 0 50px #EE82EE,
      0 0 90px #EE82EE,
      0 0 100px #EE82EE,
      0 0 130px #EE82EE,
      0 0 200px #EE82EE;
  }
  0% {
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #9c27b0,
    0 0 30px #9c27b0,
    0 0 40px #9c27b0;
  }
} 
@keyframes pulsate01 {
  100% {
    text-shadow:
      0 0 7px #fff,
      0 0 15px #fff,
      0 0 25px #fff,
      0 0 50px #EE82EE,
      0 0 90px #EE82EE,
      0 0 100px #EE82EE,
      0 0 130px #EE82EE,
      0 0 200px #EE82EE;
  }
  0% {
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #9c27b0,
    0 0 30px #9c27b0,
    0 0 40px #9c27b0;
  }
}

.neon-border3noflicktr {
  
    width: 0; 
    height: 0; 

  border-bottom: 10vh  solid #fff;
  border-top: 10vh solid #fff;
  border-right: 5vh solid #fff;


  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #a407e2,
              0 0 0.8rem #a009db,
              0 0 2.8rem #a60be4,
              inset 0 0 1.3rem #9c08d6;
  }





  .neon-border3noflickcircle {

    width: 5vh; 
    height: 5vh; 
    border-radius: 50%;

  border: 3vh  solid #fff;
 


  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #a407e2,
              0 0 0.8rem #a009db,
              0 0 2.8rem #a60be4,
              inset 0 0 1.3rem #9c08d6;
  }

  
